<p-card
  header="{{ labelUser }} aluno"
  [style]="{ width: '100%' }"
  styleClass="p-card-shadow"
>
  <p-divider></p-divider>

  <div [formGroup]="userForm" class="p-fluid grid formgrid">
    <div class="field col-6">
      <label>Nome completo</label>
      <input
        pInputText
        type="text"
        placeholder="Nome"
        name="nome"
        formControlName="nome"
      />
    </div>
    <div class="field col-6">
      <label>E-mail</label>
      <input
        pInputText
        type="text"
        placeholder="E-mail"
        formControlName="email"
      />
    </div>
    <div class="field col-2">
      <label>Telefone</label>
      <p-inputMask
        mask="(99) 99999-9999"
        formControlName="telefone"
        placeholder="(99) 99999-9999"
      ></p-inputMask>
    </div>
    <div class="field col-2">
      <label>Nascimento</label>
      <p-calendar
        placeholder="Nascimento"
        [showIcon]="true"
        inputId="basic"
        formControlName="nascimento"
        dateFormat="dd/mm/yy"
      ></p-calendar>
    </div>
    <div class="field col-2">
      <label>Sexo</label>
      <p-dropdown
        [options]="genders"
        optionLabel="name"
        placeholder="Selecione o sexo"
        formControlName="sexo"
      ></p-dropdown>
    </div>
    <div class="field col-2">
      <label>Status</label>
      <p-dropdown
        [options]="status"
        optionLabel="name"
        formControlName="status"
      ></p-dropdown>
    </div>
    <div class="field col-4">
      <label for="time">Data e hora de cadastro</label>
      <p-calendar
        [showTime]="true"
        [showSeconds]="true"
        hourFormat="24"
        dateFormat="dd/mm/yy"
        inputId="time"
        [showIcon]="true"
        placeholder="Data e hora cadastro"
        [readonlyInput]="true"
        formControlName="dataHoraCadastro"
      ></p-calendar>
    </div>
    <div class="field col-1">
      <label>Altura</label>
      <p-inputNumber
        locale="pt-BR"
        [maxFractionDigits]="0"
        placeholder="Altura (CM)"
        inputId="integeronly"
        suffix=" CM"
        [maxlength]="6"
        formControlName="altura"
      >
      </p-inputNumber>
    </div>
    <div class="field col-1">
      <label>Peso</label>
      <p-inputNumber
        inputId="minmaxfraction"
        mode="decimal"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        placeholder="Peso"
        locale="pt-BR"
        suffix=" KG"
        formControlName="peso"
      ></p-inputNumber>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div style="text-align: right">
      <button
        pButton
        pRipple
        type="button"
        label="Cancelar"
        icon="pi pi-times"
        class="secondary-button"
        (click)="returnToUserCreate()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Salvar"
        class="primary-button"
        [style]="{ 'margin-left': '.5em' }"
        icon="pi pi-check"
        type="submit"
        (click)="test()"
        [disabled]="!userForm.valid"
      ></button>
    </div>
  </ng-template>
</p-card>
