.status-inactive{
    background-color: #f79790;
    color: #8d1b06;
    border-radius: 2px;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}

.status-active{
    background-color: #80df5b;
    color: #214d04;
    border-radius: 2px;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}