<div class="p-grid">
  <div class="header col-12">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <label><b>DOGYM LOGO?</b></label>
      </div>
      <div class="p-toolbar-group-right">
        <p-overlayPanel #op [style]="{ width: '180px' }">
          <ng-template pTemplate>
            <p-tieredMenu
              [style]="{ width: '100%', border: '0', padding: '0' }"
              #menu
              [model]="items"
            ></p-tieredMenu>
          </ng-template>
        </p-overlayPanel>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-user"
          class="p-button-rounded p-button-info"
          (click)="op.toggle($event)"
        ></button>
      </div>
    </p-toolbar>
  </div>
</div>
