<p-card
  header="{{ titleHeader }}"
  [style]="{ width: '100%' }"
  styleClass="p-card-shadow"
>
  <p-divider></p-divider>
  <p-tabView>
    <p-tabPanel header="{{ item.title }}" *ngFor="let item of items; let i = index" [selected]="i == 0">
      <form [formGroup]="formGroup" class="p-fluid grid formgrid">
        <div *ngFor="let field of item.fields; let i = index" class="{{ field.size }} field">
          <label>{{ field.label }}</label>
          <d-input
            *ngIf="field.type == 'text'"
            type="text"
            name="{{ field.formName }}"
            id="fdp"
          ></d-input>
          <d-inputmask
            *ngIf="field.type == 'inputmask'"
            mask="{{ field.mask }}"
            name="{{ field.formName }}"
          ></d-inputmask>
          <d-date
            *ngIf="field.type == 'date'"
            name="{{ field.formName }}"
            dateFormat="{{ field.dateFormat }}"
          ></d-date>
          <d-dropdown
            *ngIf="field.type == 'dropdown'"
            [options]="field.options"
            name="{{ field.formName }}"
          ></d-dropdown>
          <d-datetime
            *ngIf="field.type == 'datetime'"
            dateFormat="{{ field.dateFormat }}"
            [showIcon]="true"
            [readOnlyInput]="true"
            name="{{ field.formName }}"
          ></d-datetime>
          <d-inputnumber
            *ngIf="field.type == 'inputnumber'"
            [maxFractionDigits]="field.maxFractionDigits"
            [minFractionDigits]="field.minFractionDigits"
            [maxlength]="field.maxlength"
            name="{{ field.formName }}"
          >
          </d-inputnumber>
        </div>
      </form>
    </p-tabPanel>
  </p-tabView>

  <ng-template pTemplate="footer">
    <div style="text-align: right">
      <d-button
        label="Cancelar"
        class="secondary"
        icon="pi pi-times"
        type="button"
        (clickOutput)="returnToUserCreate()"
      >
      </d-button>
      <d-button
        [disabled]="false"
        label="Salvar"
        class="primary"
        icon="pi pi-check"
        type="submit"
        [style]="{ 'margin-left': '.5em' }"
        (clickOutput)="onSave($event)"
        (onsubmit)="onSave($event)"
        [loading]="loading"
      >
      </d-button>
    </div>
  </ng-template>
</p-card>
